@import '../../colors';
@import '../../fonts';

.splash-navbar {
  width: 100vw;

  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: rgb(243, 249, 255);
  font-family: $work-sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 110%;
  color: black;
  letter-spacing: 0;

  .menu {
    display: flex;
    justify-content: space-between;
  
    width: 71.875000%;
    height: 100%;
  
    margin: 0 auto;
  
    .logo-container {
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-right: 4rem;
    }
  
    .logo {
      color: $venmo-blue-dark;
      display: flex;
      font-family: "Proza Libre";
      font-size: 45px;
      font-weight: 800;
      line-height: normal;

      margin-right: 2rem;
    }
  }
}


.splash-navbar + .content-space {
  height: 14.2rem;
}