@import '../../colors';
@import '../../mixins/invalid-input-text';

.transaction-form {
  .amount {
    border: 1px solid $whitest;
    border-radius: 8px;
    color: $selector-black;
    display: flex;

    margin-bottom: 86px;
    padding-right: 9px;
    padding-left: 9px;

    position: relative;

    width: fit-content;

    label {
      color: inherit;
      font-size: 24px;

      margin-top: 13px;

      align-self: flex-start;
    }

    input {
      color: inherit;
      display: inline-block;
      font-size: 54px;
      font-weight: 500;
      line-height: 1.9rem;
      text-align: right;
      vertical-align: text-top;

      margin: 0 auto;
      padding: 2px 0 11px;

      width: 33px;
    }

    ::placeholder {
      color: inherit;
    }

    .invalid-input-text {
      display: none;
    }
  }
  
  .amount.invalid-input {  
    margin-bottom: 113px;

    .invalid-input-text {
      @include invalid-input-text($color: $error-red-matte,
        $font-weight: 300,
        $margin: 0,
        $padding: 0);
    
      display: flex;
      letter-spacing: .5px;
      text-align: center;
      align-items: center;

      position: absolute;
      bottom: -7px;
      left: -60px;
      right: -60px;
      justify-content: center;
      transform: translateY(100%);
    }
      
    input {
      color: $error-red-matte;
      border: none;
    }

    ::placeholder {
      color: $error-red-matte;
    }

    label {
      color: $error-red-matte;
    }

    .error-icon {
      display: inline-block;
      fill: $error-red-matte;
      
      height: 20px;
      width: 20px;
    }
  }

  .amount-focus {
    border-color: $selector-black;
  }

  .amount-focus.invalid-input {
    border-color: $error-red-matte;
  }
}