@import '../../colors';
@import '../../fonts';
@import '../../mixins/invalid-input-text';

.auth.input {
  display: flex;

  flex-direction: column;

  label {
    color: $faded-black;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    padding-left: 4px;

    box-sizing: border-box;
  }

  input {
    background: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $ash-grey;
    box-shadow: none;
    color: $faded-black;
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;

    padding: 12px 8px 12px 4px;

    box-sizing: border-box;
    height: auto;
    min-width: 0;
  }

  input:autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
  }
  
  .invalid-input-text {
    @include invalid-input-text($color: red,
      $font-weight: 700,
      $margin: 0 0 36px 0,
      $padding: 4px 0 0 4px
    );

    height: 0;
  }
}


.auth.invalid-input {
  border-color: red;
  
  input {
    border-bottom: 1px solid red;
  }

  label {
    color: red;
  }

  .invalid-input-text {
    height: auto;
  }
}

.auth.valid-input-blur {
  label {
    color: $dark-grey;
  }
}

.auth.valid-input {
  input:focus {
    border-bottom: 1px solid $venmo-blue;
  }

  label {
    color: $venmo-blue;
  }
}