@import '../../colors';

.search-results {
  background-color: $whitest;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  overflow-y: scroll;
  
  position: absolute;
  margin: 4px 0;
  padding: 8px;
  z-index: 9999;

  box-sizing: border-box;
  max-height: 40vh;

  li {
    background-color: $whitest;
    border-radius: 8px;
    color: $light-black;
    cursor: pointer;
    display: flex;
    
    margin-bottom: 1px;
    padding: 6px 16px;

    align-items: center;
    justify-content: flex-start;
  }

  li:hover {
    background-color: $selector-black;
    color: $whitest;
  }

  .profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    object-fit: cover;
    
    width: 48px;
    height: 48px;
  }

  .names {
    display: flex;
    
    padding: 8px 0 8px 8px;

    justify-content: center;
    flex-direction: column;
  }

  .username {
    margin-top: 4px;
  }
}

.transaction-form .search-results {
  width: 442px;
}