@use '../colors';

.auth-links {
  display: flex;
  align-items: center;
}

.signin-link {
  padding-right: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  color: $faded-black;
}

.login-link {
  margin-right: 2.5rem;
  
  letter-spacing: 0;
  line-height: 110%;
}

.get-paimo-link {
  display: flex;
  justify-content: center;

  letter-spacing: -.05rem;
  line-height: 130%;
  background-color: #fff;
  border-radius: 4rem;
  border: .15rem solid #2f3033;
  padding: 1rem 2.3rem 1.15rem 2.6rem;
}

.auth-header-text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}