@import '../colors';
@import '../fonts';

.auth-links {
  display: flex;

  align-items: center;
}

.form-header {
  font-family: $helvetica-neue;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;

  margin: 28px auto;
}

.form-footer {
  color: $dark-grey;
  font-family: $helvetica-neue;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
}

.signup-link {
  color: $venmo-blue;
  transition: opacity .2s ease-out;

  box-sizing: border-box;
}

.signup-link:hover {
  color: $venmo-blue-faded;
}

.signin-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  color: $faded-black;
  transition: opacity .1s ease;

  padding-right: 20px;
}

.signin-link:hover {
  opacity: .6;
}

.login-link {
  letter-spacing: 0;
  line-height: 110%;
  
  margin-right: 2.5rem;
}

.get-paimo-link {
  display: flex;
  background-color: $whitest;
  border-radius: 4rem;
  border: .15rem solid #2f3033;
  cursor: pointer;
  letter-spacing: -.05rem;
  line-height: 130%;
  transition: border .3s, background-color .3s;

  padding: 1rem 2.3rem 1.15rem 2.6rem;

  justify-content: center;
}

.get-paimo-link:hover {
  background-color: rgba(0, 140, 255, .1);
}

.auth-input-container {
  display: flex;

  flex-direction: column-reverse;

  label {
    color: $faded-black;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    padding-left: 4px;

    box-sizing: border-box;
  }

  input {
    background: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $ash-grey;
    box-shadow: none;
    color: $faded-black;
    font-size: inherit;
    font-weight: inherit;
    line-height: 24px;

    padding: 12px 8px 12px 4px;

    box-sizing: border-box;
    height: auto;
    min-width: 0;
  }

  input:autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
  }
}

.auth-input-error-text {
  color: red;
  cursor: default;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  
  margin-bottom: 36px;
  padding: 4px 0 0 4px;

  box-sizing: border-box;
}

.auth-input-error {
  input {
    border-bottom: 1px solid red;
  }

  label {
    color: red;
  }
}

.auth-input-valid-blur {
  label {
    color: $dark-grey;
  }
}

.auth-input-valid {
  input:focus {
    border-bottom: 1px solid $venmo-blue;
  }

  label {
    color: $venmo-blue;
  }
}