@import '../colors';

.heart-icon,
.comment-icon {
  color: $action-grey;
  cursor: pointer;
  display: flex;
  fill: $action-grey;

  padding: 6px;

  width: fit-content;

  svg {
    width: 20px;
    height: 20px
  }
}

.heart-icon:hover,
.comment-icon:hover,
.heart-icon:hover .liked,
.heart-icon:hover .liked+.like-count {
  color: $action-dark-grey;
  fill: $action-dark-grey;
}

.liked,
.liked+.like-count {
  color: $heart-red;
  fill: $heart-red;
}

.commented,
.commented+.comment-count {
  color: $venmo-blue-dark;
  fill: $venmo-blue-dark;
}

.like-count, .comment-count {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.66;

  margin-left: 2.5px;

  align-items: center;
  justify-content: center;

  height: 100%;
}

.comment-icon {
  margin-left: 16px;
}