@import '../mixins/hide-scrollbar';

.main-view {
  overflow-y: scroll;
  @include hide-scrollbar;
  
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 317px;

  box-sizing: border-box;
  height: 100vh;
}

.main-view::-webkit-scrollbar {
  display: none;
}