 .navbar {
   width: 100vw;

   padding-top: 3rem;
   padding-bottom: 3rem;

   background-color: rgb(243, 249, 255);

   .logo {
     width: 160px;
     height: 38px;
   }
 }

 .nav-menu {
   width: 71%;
   height: 100%;

   margin: 0 auto;
 }