.profile-view {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  
  padding: 4.528rem 12%;

  .profile-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  .profile-image {
    margin: 0;
    
    height: 126px;
    width: 126px;
  }

  .action-buttons {
    margin: 16px 0;
  }

  .edit {
    padding: 10px 16px;

    width: fit-content;
  }
  
  .transactions-index {
    padding: 0;
  }
}