.toaster-container {
  position: absolute;
  z-index: 999;

  width: calc(100vw - 16px);
}

.toaster {
  position: fixed;
  right: 0;

  margin-top: 16px;
  z-index: 999;

  max-height: 80%;
  overflow-y: scroll;
}
