.toaster-container {
  display: flex;
  justify-content: flex-end;
  
  position: fixed;
  z-index: 999;

  width: 100vw;
}

.toaster-container.login-view {
  top: 79px;
}

.toaster-container.main-view {
  top: 0;
  right: 0;

  width: calc(100vw - 317px);
}

.toaster {
  overflow-y: scroll;
}

.login-view .toaster {
  max-height: calc(100% - 79px);
}

.main-view .toaster {
  max-height: 100%;
}