@import '../colors';
@import '../fonts';

.transaction {
  background-color: $whitest;
  display: inline-block;

  position: absolute;
  z-index: 0;

  padding-top: 4.528rem;
  
  box-sizing: border-box;
  height: 100vh;
  width: calc(100vw - 317px);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;

    width: 443px;
    height: 100%;
  }

  .title {
    font-family: $work-sans;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: -.075rem;
    line-height: 1.33;

    margin-top: 18px;
  }
}