$ash-grey: #afafaf;
$dark-grey: #7f7f7f;
$error-red: #C72830;
$error-red-light: #FCF4F5;
$faded-black: #262626;
$faded-grey: #55585E;
$success-green: #148572;
$success-green-light: #F3F9F8;
$grey: rgba(0, 0, 0, 0.54);
$selector-black: rgb(47, 48, 51);
$light-black: #2f3033;
$light-grey: #d9d9d9;
$light-silver: rgba(0, 0, 0, 0.12);
$silver:#ccc;
$soft-grey: #888C94;
$venmo-blue: #3d95ce;
$venmo-blue-dark: #0074de;
$venmo-blue-faded: #6fb4e0;
$venmo-baby-blue: rgb(243, 249, 255);
$whitest: #fff;
