$action-grey: rgb(136, 140, 148);
$action-dark-grey: #6B6E76;
$ash-grey: #afafaf;
$dark-grey: #7f7f7f;
$error-red: #C72830;
$error-red-light: #FCF4F5;
$error-red-matte: rgb(199, 40, 48);
$faded-black: #262626;
$faded-grey: #55585E;
$mac-grey: #6b6e76;
$success-green: #148572;
$success-green-light: #F3F9F8;
$grey: rgba(0, 0, 0, 0.54);
$light-black: #2f3033;
$light-grey: #d9d9d9;
$light-silver: rgba(0, 0, 0, 0.12);
$selector-black: rgb(47, 48, 51);
$silver:#ccc;
$soft-grey: #888C94;
$sweatpants-grey: rgb(107, 110, 118);
$venmo-blue: #3d95ce;
$venmo-blue-dark: #0074de;
$venmo-blue-faded: #6fb4e0;
$venmo-baby-blue: rgb(243, 249, 255);
$whitest: #fff;
