@import '../../colors';

.transaction {
  color: $light-black;
  display: flex;

  margin-top: 16px;
  
  .profile-image {
    width: 51px;
  }

  .content {
    display: flex;
    flex-direction: column;
    
    margin-left: 8px;

    width: 100%;
  }

  .header {
    display: flex;

    justify-content: space-between;
  }

  .message {
    cursor: default;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.25;
    
    strong {
      cursor: pointer;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .amount {
    color: $success-green;
    font-size: 1.4rem;
    line-height: 1.33;
  }

  .amount.negative {
    color: $error-red;
  }

  .amount.incomplete {
    color: $light-black;
  }

  .date {
    color: $faded-grey;
    font-size: 1.2rem;
    line-height: 1.33;

    margin-top: 4px;
  }

  .note {
    color: $light-black;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.25;
    word-break: break-word;
    
    margin-top: 8px;
  }

  .action-buttons {
    border-bottom: 1px solid $silver;
    display: flex;

    margin-top: 8px;
    padding-bottom: 16px;

    .base-action-white-link {
      border-width: 1px;
      color: $light-black;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .5px;
      line-height: 1.43;
      
      margin: 0 8px 0 0;
      padding: 10px 16px;

      width: 108px;
    }

    .base-action-white-link:hover {
      background-color: $light-black;
      color: $whitest;
    }
  }
}