@mixin invalid-input-text($color, $margin, $padding) {
  color: $color;
  cursor: default;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;

  margin-bottom: 36px;
  padding: 4px 0 0 4px;

  box-sizing: border-box;
}

@mixin invalid-input($color) {
  border-color: $color;
  
  input {
    border-bottom: 1px solid $color;
  }

  label {
    color: $color;
  }
}