@import '../../colors';
@import '../../fonts';

.transaction-form {
  padding-top: 4.528rem;

  .title {
    font-family: $work-sans;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: -.075rem;
    line-height: 1.33;

    margin-top: 18px;
  }

  .amount {
    border: 1px solid;
    border-radius: 8px;

    margin-top: 8rem;
    padding-right: 8px;
    padding-left: 8px;

    width: fit-content;

    input {
      cursor: text;
      display: inline-block;
      font-size: 54px;
      line-height: 1.9rem;

      margin: 0 auto;
      padding: 6px 0 7px;

      width: 33px;
    }
  }
}